In [6]:
import pandas as pd
import streamlit as st
import urllib
import json
from helper_functions import *

In [7]:
station_url = "https://gbfs.mex.lyftbikes.com/gbfs/en/station_status.json"
latlon_url = "https://gbfs.mex.lyftbikes.com/gbfs/es/station_information.json"

In [8]:
df1 = query_station_status(station_url)

df1

,station_id,num_bikes_available,num_bikes_disabled,num_docks_available,num_docks_disabled,is_installed,is_renting,is_returning,last_reported,eightd_has_available_keys,is_charging
time,,,,,,,,,,,
2026-02-02 05:59:49+00:00,1,0,3,36,0,1,1,1,2026-02-02 02:54:58,False,False
2026-02-02 05:59:49+00:00,5,16,3,0,0,1,1,1,2026-02-02 03:30:26,False,False
2026-02-02 05:59:49+00:00,6,5,4,18,0,1,1,1,2026-02-02 05:44:15,False,False
2026-02-02 05:59:49+00:00,7,1,1,17,0,1,1,1,2026-02-02 05:45:46,False,False
2026-02-02 05:59:49+00:00,8,6,1,24,0,1,1,1,2026-02-02 03:40:26,False,False
...,...,...,...,...,...,...,...,...,...,...,...
2026-02-02 05:59:49+00:00,697,6,3,18,0,1,1,1,2026-02-02 05:53:09,False,False
2026-02-02 05:59:49+00:00,698,3,2,18,0,1,1,1,2026-02-02 04:03:05,False,False
2026-02-02 05:59:49+00:00,699,1,2,16,0,1,1,1,2026-02-02 02:32:05,False,False
2026-02-02 05:59:49+00:00,700,0,2,37,0,1,1,1,2026-02-02 01:56:57,False,False
2026-02-02 05:59:49+00:00,702,3,3,17,0,1,1,1,2026-02-02 00:42:26,False,False

In [4]:
df2 = get_station_latlon(latlon_url)

df2

,station_id,external_id,name,short_name,lat,lon,rental_methods,capacity,electric_bike_surcharge_waiver,is_charging,eightd_has_key_dispenser,has_kiosk
0,1,e961269c-34c4-4b70-8e30-a51aa95a8429,CE-710 Molino del Rey - Glorieta de la Lealtad,710,19.416795,-99.192508,"[CREDITCARD, KEY]",39,False,False,False,True
1,5,3ea89109-d2f3-46eb-9c41-c43742050340,CE-407 Prolongación Xochicalco-General Emilia...,407,19.367266,-99.158656,"[CREDITCARD, KEY]",19,False,False,False,True
2,6,ba78b703-4e5a-44bd-ab2c-1eedc71e11c3,CE-428 Prolongación Uxmal-Av. Popocatépetl (E...,428,19.363404,-99.160395,"[CREDITCARD, KEY]",27,False,False,False,True
3,7,6563d263-2342-46e3-8983-461e68d2d615,CE-427 Avenida México-Coyoacán-Av. Popocatépet...,427,19.364906,-99.162987,"[CREDITCARD, KEY]",19,False,False,False,True
4,8,ec55e597-c8fc-4e86-bcfe-b0e81a494790,CE-443 Bruno Traven-Golondrinas,443,19.359583,-99.162085,"[CREDITCARD, KEY]",31,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
672,697,ea8b036f-bfde-4aa4-8bc0-57405c27fd8a,CE-511 Palestina - Egipto,511,19.463941,-99.182280,"[CREDITCARD, KEY]",27,False,False,False,True
673,698,1f652ea2-4be5-4d30-b73c-2cb7d1266a70,CE-682 Manuel M. Ponce - Fernando M. Villalpando,682,19.353534,-99.189548,"[CREDITCARD, KEY]",23,False,False,False,True
674,699,a1e9daf9-b993-4abb-8e39-66515ffcfa56,CE-681 Guty Cárdenas - Ricardo Castro,681,19.355844,-99.189141,"[CREDITCARD, KEY]",19,False,False,False,True
675,700,09fac974-dc65-4213-b3e6-c5b7440f37df,CE-711 Molino del Rey - Av. Constituyentes,711,19.414108,-99.191983,"[CREDITCARD, KEY]",39,False,False,False,True
676,702,5a26a79f-acdc-40d9-b5e6-f3ab612603c6,CE-524 Malvón - Juan Sarabia,524,19.468119,-99.167268,"[CREDITCARD, KEY]",23,False,False,False,True

In [5]:
join_latlon(df1, df2)

,station_id,num_bikes_available,num_bikes_disabled,num_docks_available,num_docks_disabled,is_installed,is_renting,is_returning,last_reported,eightd_has_available_keys,is_charging,lat,lon
0,1,0,3,36,0,1,1,1,2026-02-02 02:54:58,False,False,19.416795,-99.192508
1,5,16,3,0,0,1,1,1,2026-02-02 03:30:26,False,False,19.367266,-99.158656
2,6,5,4,18,0,1,1,1,2026-02-02 05:44:15,False,False,19.363404,-99.160395
3,7,1,1,17,0,1,1,1,2026-02-02 05:45:46,False,False,19.364906,-99.162987
4,8,6,1,24,0,1,1,1,2026-02-02 03:40:26,False,False,19.359583,-99.162085
...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,697,6,3,18,0,1,1,1,2026-02-02 05:53:09,False,False,19.463941,-99.182280
671,698,3,2,18,0,1,1,1,2026-02-02 04:03:05,False,False,19.353534,-99.189548
672,699,1,2,16,0,1,1,1,2026-02-02 02:32:05,False,False,19.355844,-99.189141
673,700,0,2,37,0,1,1,1,2026-02-02 01:56:57,False,False,19.414108,-99.191983
674,702,3,3,17,0,1,1,1,2026-02-02 00:42:26,False,False,19.468119,-99.167268